<div ng-include="'template/header/header.html'" ng-controller="HeaderCtrl"></div>
<article class="jumbotron" id="infos_student">
    <div class="student_infos row">
        <div class="col-sm-6">
            <img ng-src="{{ ('https://cdn.local.epitech.eu/userprofil/profilview/' + login.replace('@epitech.eu', '') + '.jpg') }}" onerror="this.src='public/img/anon.png'" alt="" class="col-xs-1 student_img">
            <h2>{{situation.title}} ({{login}})</h2>
            <div ng-show="modules.length > 0">Moyenne générale: {{student.global_average}}</div>
            <div ng-show="modules.length > 0">Prévision crédits: {{student.global_credits}} / {{student.global_credits_total}}</div>
            <div ng-repeat="gpa in situation.gpa">
                GPA {{gpa.cycle}}: {{gpa.gpa}}
            </div>
        </div>
        <div class="col-sm-6" ng-if="admin">
            <form ng-submit='save_comment()'>
                <div class="form-group">
                    <label for="comment-content">Note rapide</label>
                    <textarea name="content" id="comment-content" ng-model='params.comment' class="form-control"></textarea>
                    <input type="submit" value="Envoyer" class="btn btn-info">
                </div>
            </form>
        </div>
    </div>
    <div id="studentMenu">
        <a class="btn btn-success" ng-if="suivis.length > 0" ng-click="scrollTo('suivis')">Suivis ADM</a>
        <a class="btn btn-success" ng-click="scrollTo('absences')">Absences</a>
        <a class="btn btn-success" ng-if="notes.length > 0" ng-click="scrollTo('pp')">Points Pangolins</a>
        <a class="btn btn-success" ng-if="notes.length > 0" ng-click="scrollTo('notes')">Notes</a>
        <a class="btn btn-success" ng-if="modules.length > 0" ng-click="scrollTo('modules')">Modules</a>
    </div>
    <!-- <div class="btn-group exclude">
        <label ng-show="loaded.modules" class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Notes'" uncheckable>Notes</label>
        <label ng-show="loaded.modules" class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Modules'" uncheckable>Modules</label>
        <label ng-show="loaded.netsoul" class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Absences'" uncheckable>Absences ({{absences.length}})</label>
        <label ng-show="loaded.modules" class="btn btn-success" ng-model="radioModel" uib-btn-radio="'PP'" uncheckable>PP</label>
        <label ng-show="loaded.suivi_adm" class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Suivi'" uncheckable>Suivi ADM</label>
        <label ng-show="loaded.netsoul" class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Logs'" uncheckable>Temps de log</label>
        <label ng-show="loaded.all_modules" class="btn btn-success" ng-model="radioModel" uib-btn-radio="'Graphs'" uncheckable>Graphiques</label>
        <label class="btn btn-success" uncheckable ng-click="convertToPDF('#resume')"><i class="mdi-maps-local-print-shop">&nbsp;Exporter en PDF</i></label>
    </div> -->
    <!--<div class="form-group">-->
        <!--<label for="affsemester" class="col-md-2 control-label">Afficher semestre</label>-->
        <!--<div class="col-md-10">-->
            <!--<select model="affsemester" id="affsemester" class="form-control">-->
                <!--<option>1</option>-->
                <!--<option>2</option>-->
                <!--<option>3</option>-->
                <!--<option>4</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-md-6 col-sm-12">
        <div class="panel-body" id="comments" ng-if="comments.length > 0">
            <div ng-repeat="comment in comments | orderBy:'-date'" class="jumbotron comment" ng-class="{transparent: comment.state == 1}">
                Par <u>{{comment.author}}</u> le <u>{{comment.date}}</u><br>
                <pre ng-if="!edit[comment.id]">{{comment.content}}<br></pre>
                <form ng-submit='update_comment(comment.id, content[comment.id])' ng-if="edit[comment.id]">
                    <div class="form-group">
                        <textarea name="content" class="form-control" ng-model="content[comment.id]"></textarea>
                        <input type="submit" value="Envoyer" class="btn btn-warning">
                    </div>
                </form>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ng-if="comment.state == 0" ng-click="update_comment_state(comment.id, 1)" title="C'est fait!"></span>
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" ng-if="comment.state == 1" ng-click="update_comment_state(comment.id, 0)" title="C'est à faire!"></span>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editer cette note rapide." ng-click="edit[comment.id] = !edit[comment.id]; content[comment.id] = comment.content"></span>
                <span class="glyphicon glyphicon-remove-circle delete-note" aria-hidden="true" title="Supprimer cette note rapide." ng-click="delete_comment(comment.id)" ng-if="comment.state == 1"></span>
                <ul class="comment_updates">
                    <li ng-repeat="update in comment.updates">
                        <span ng-if="update.action == 'UPDATE_CONTENT'">Contenu modifié</span><span ng-if="update.action == 'UPDATE_STATE'">Etat modifié</span> le {{update.date.substring(0, 10)}} par {{update.login}}.
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body" ng-if="suivis.length > 0" id="suivis">
            <h2 class="jumbotron studentTitle" ng-click="showSuivis = !showSuivis">
                Suivi ADM
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-if="!showSuivis"></span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ng-if="showSuivis"></span>
            </h2>
            <div ng-repeat="suivi in suivis | orderBy:'-date'" class="jumbotron" ng-if="showSuivis">
                Par <u>{{suivi.owner}}</u> le <u>{{suivi.date}}</u><br>
                <span ng-if="suivi.star">{{suivi.star}} stars<br></span>
                {{suivi.desc}}
            </div>
        </div>
        <div class="panel-body" id="absences">
            <h2 class="jumbotron studentTitle" ng-click="showAbsences = !showAbsences">
                Absences
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-if="!showAbsences"></span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ng-if="showAbsences"></span>
            </h2>
            <div ng-if="showAbsences">
                Absences calculées sur une base de présence minimum par jours ouvrés pour le mois courant et le mois précédent.<br>
                <label for="log_min">Temps de présence nécéssaire pour ne pas être absent: </label>
                <input type="text" ng-model="params.log_min" id="log_min"  class="form-control" placeholder="Sépcifier une plage horaire">h
                <div ng-repeat="absence in absences | orderBy:'-dateOrd' | filter: selectLogs" class="jumbotron">
                    {{absence.time}}h de présence le {{absence.dateOrd.substring(0,10)}}.
                </div>
            </div>
        </div>
        <div class="panel-body" ng-if="notes.length > 0" id="pp">
            <h2 class="jumbotron studentTitle" ng-click="showPP = !showPP">
                PP
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-if="!showPP"></span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ng-if="showPP"></span>
            </h2>
            <div class="student jumbotron" ng-repeat="note in notes | orderBy:'-date' | filter:{title: 'Point Pangolin'}" ng-if="showPP">
                <b>{{note.titlemodule}}</b><br>
                <div class="note_title">{{note.title}}</div>
                <h1 ng-if="note.final_note > 0">{{note.final_note}}</h1>
                <h1 ng-if="note.final_note <= 0" style="color: red;">{{note.final_note}}</h1>
                <u>Par {{note.correcteur}}<br>
                Le {{note.date.substring(0,10)}}<br></u>
                {{note.comment}}
            </tr>
            </div>
        </div>
        <div class="panel-body" ng-if="modules.length > 0" id="modules">
            <h2 class="jumbotron studentTitle" ng-click="showModules = !showModules">
                Modules
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-if="!showModules"></span>
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ng-if="showModules"></span>
            </h2>
            <div class="panel panel-info" ng-repeat="module in modules" ng-if="showModules">
                <div class="panel-heading">
                    <h1 class="small">{{module.title}}</h1>
                </div>
                <div class="panel-body">
                    <h2>
                        Grade: {{module.notes.grade}}
                        <i ng-if="module.difficulty == true" class="tags mdi-alert-error"></i>
                        <i ng-if="module.remarkable == true" class="tags mdi-action-thumb-up"></i>
                        <i ng-if="module.medal == true" class="tags mdi-action-stars"></i>
                    </h2>
                    <h3>
                        Crédits: {{module.notes.credits || '0'}} sur {{module.credits}}
                    </h3>
                    <table class="table modules notes" id="notesModules">
                        <tr>
                            <th class="col-xs-1">Moyenne</th>
                            <td ng-repeat="note in module.notes">
                                {{note.title}}
                            </td>
                        </tr>
                        <tr>
                            <th class="{{module.notes.moyenne.color}}">{{module.notes.moyenne.note}}</th>
                            <td ng-repeat="note in module.notes" class="{{note.color}}">
                                {{note.final_note}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body col-md-6 col-sm-12" ng-if="notes.length > 0" id="notes">
        <h2 class="jumbotron studentTitle" ng-click="showNotes = !showNotes">
            Notes
            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-if="!showNotes"></span>
            <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ng-if="showNotes"></span>
        </h2>
        <div class="student jumbotron" ng-repeat="note in notes | orderBy:'-date' | filter:{title: '!Point Pangolin'}" ng-if="showNotes">
            <b>{{note.titlemodule}}</b><br>
            <div class="note_title">{{note.title}}</div>
            <h1 ng-if="note.final_note > 0">{{note.final_note}}</h1>
            <h1 ng-if="note.final_note <= 0" style="color: red;">{{note.final_note}}</h1>
            Par <u>{{note.correcteur}}</u><br>
            Le <u>{{note.date.substring(0,10)}}</u><br>
            {{note.comment}}
        </tr>
        </div>
    </div>
    <!-- <div ng-show="radioModel == 'Graphs'" class="row body exclude canvas" id="canvasRow">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="small">Moyenne par modules</h1>
            </div>
            <div class="panel-body">
                <blockquote>
                    <p>
                        Affichage des moyennes des notes (de 0 à 20) par modules.
                        <small>Les notes de l'étudiants s'affichent en <span class="orange">orange</span></small>
                        <small>Les notes de sa promotion s'affichent en <span class="gris">gris</span></small>
                    </p>
                </blockquote>
                <canvas id="canvasModules"></canvas>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="small">Crédits par modules</h1>
            </div>
            <div class="panel-body">
                <blockquote>
                    <p>
                        Affichage des moyennes des crédits (à partir de 0) par modules.
                        <small>Les crédits de l'étudiants s'affichent en <span class="orange">orange</span></small>
                        <small>Les crédits de sa promotion s'affichent en <span class="gris">gris</span></small>
                    </p>
                </blockquote>
                <canvas id="canvasCredits"></canvas>
            </div>
        </div>
    </div>
    <div ng-show="radioModel == 'Logs'" class="row body exclude canvas" id="canvasLogsRow">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="small">Temps de log netsoul</h1>
            </div>
            <div class="panel-body">
                <blockquote>
                    <p>
                        Affichage des 50 derniers jours de logs netsoul.
                        <small>Les jours sans log time ne s'affichent pas.</small>
                    </p>
                </blockquote>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Cumul</th>
                        <th>Moyenne</th>
                    </tr>
                    <tr>
                        <td>Temps de log sur les 5 derniers jours ouvrés:</td>
                        <td>{{netsoul_semaine}}h/5j</td>
                        <td>{{netsoul_semaine_avg}}h/j</td>
                    </tr>
                    <tr>
                        <td>Temps de log cette semaine:</td>
                        <td>{{netsoul_ouvres}}h/7j</td>
                        <td>{{netsoul_ouvres_avg}}h/j</td>
                    </tr>
                </table>
                <canvas id="canvasNetsoul"></canvas>
            </div>
        </div>
    </div>
    <div ng-show="radioModel == 'Notes'" class="row body">
        <table class="table">
            <tr>
                <th class="col-xs-1">Module</th>
                <th class="col-xs-1">Projet</th>
                <th class="col-xs-1">Date</th>
                <th class="col-xs-1">Correcteur</th>
                <th class="col-xs-1">Note</th>
                <th>Commentaire</th>
            </tr>
            <tr ng-repeat="note in notes | orderBy:'-date' | filter:{title: '!Point Pangolin'}">
                <td>{{note.titlemodule}}</td>
                <td>{{note.title}}</td>
                <td>{{note.date}}</td>
                <td>{{note.correcteur}}</td>
                <td>{{note.final_note}}</td>
                <td>{{note.comment}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="radioModel == 'PP'" class="row body">
        <table class="table">
            <tr>
                <th class="col-xs-1">Date</th>
                <th class="col-xs-1">Correcteur</th>
                <th class="col-xs-1">Note</th>
                <th>Commentaire</th>
            </tr>
            <tr ng-repeat="note in notes | orderBy:'-date' | filter:{title: 'Point Pangolin'}">
                <td>{{note.date}}</td>
                <td>{{note.correcteur}}</td>
                <td>{{note.final_note}}</td>
                <td>{{note.comment}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="radioModel == 'Absences'" class="row body exclude">
        <blockquote>
            <p>
                Absences calculées sur une base de présence minimum par jours ouvrés pour le mois courant et le mois précédent.
            </p>
        </blockquote>
        <label for="log_min">Temps de présence nécéssaire pour ne pas être absent: </label>
        <input type="text" ng-model="log_min" id="log_min"  class="form-control" placeholder="Sépcifier une plage horaire">h
        <table class="table">
            <tr>
                <th class="col-xs-2">Date</th>
                <th>Log time</th>
            </tr>
            <tr ng-repeat="absence in absences | orderBy:'-date'">
                <td class="col-xs-8">{{absence.date}}</td>
                <td class="col-xs-4">{{absence.time}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="radioModel == 'Suivi'" class="row body exclude" id="suiviADM">
        <table class="table">
            <tr>
                <th class="col-xs-1">Date</th>
                <th class="col-xs-1">Auteur</th>
                <th class="col-xs-1">Stars</th>
                <th>Commentaire</th>
            </tr>
            <tr ng-repeat="suivi in suivis | orderBy:'-date'">
                <td>{{suivi.date}}</td>
                <td>{{suivi.owner}}</td>
                <td>{{suivi.star}}</td>
                <td>{{suivi.desc}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="radioModel == 'Modules'" class="row body exclude" id="contentModules">
        <div class="panel panel-info" ng-repeat="module in modules">
            <div class="panel-heading">
                <h1 class="small">{{module.title}}</h1>
            </div>
            <div class="panel-body">
                <h2>
                    Grade: {{module.notes.grade}}
                    <i ng-if="module.difficulty == true" class="tags mdi-alert-error"></i>
                    <i ng-if="module.remarkable == true" class="tags mdi-action-thumb-up"></i>
                    <i ng-if="module.medal == true" class="tags mdi-action-stars"></i>
                </h2>
                <h3>
                    Crédits: {{module.final_credits}} sur {{module.credits}}
                </h3>
                <table class="table modules notes" id="notesModules">
                    <tr>
                        <th class="col-xs-1">Moyenne</th>
                        <td ng-repeat="note in module.notes">
                            {{note.title}}
                        </td>
                    </tr>
                    <tr>
                        <th class="{{module.notes.moyenne.color}}">{{module.notes.moyenne.note}}</th>
                        <td ng-repeat="note in module.notes" class="{{note.color}}">
                            {{note.final_note}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div> -->
</article>
<div class="row" id="alert">
    <uib-alert ng-repeat="alert in alerts" ng-model="alert" type="{{alert.type}}" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.
msg}}</uib-alert>
</div>