.student img {
	width: 150px;
	min-height: 178px;
}
.student a {
	width: 150px;
}

.header-home div {
	float: left;
}

.inline {
	display: inline-block;
}

.refresh {
	float: right;
}

.comment_updates {
	margin-top: 10px;
    font-size: 12px;
    color: grey;
}

.comment_updates li {
	margin-bottom: -3px;
}

.delete-note {
	color: red;
}

.student {
	display: inline-block;
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
	vertical-align: top;
	overflow: hidden;
}

.transparent {
	opacity: 0.5;
}

#comments {
	margin-top: 50px;
}

.comment:hover {
	opacity: 1;
}

.comment .glyphicon {
	font-weight: bold;
	cursor: pointer;
}

.comment .fadeout {
	opacity: 70%;
}

.comment .glyphicon:last-child {
	float: right;
}

#studentMenu {
	position: fixed;
    top: 55px;
    z-index: 1;
}

.studentTitle {
	cursor: pointer;
}

.studentTitle .glyphicon {
	float: right;
}

.note_title {
	color: #009688;
	font-size: 25px;
}

h2.jumbotron {
	background-color: grey;
	color: white;
}

.modules { 
	table-layout: fixed; 
	margin-left: 2%;
	width: 96%;
}
.modules td {
	overflow: hidden;
}

.tags {
	font-size: 16px;
	color: grey;
}

.bg-grey {
	background-color: grey;
	color: rgba(255, 255, 255, 0.84);
}

.profil-small {
    height: 34px;
    border-radius: 40px;
    position: absolute;
    margin-top: -7px;
}

.tags.download {
	cursor: pointer;
	color: white;
}

h1.small {
	font-size: 30px;
}

i.link {
	cursor: pointer;
}

.btn-group .mdi-maps-local-print-shop {
	font-size: 12px;
}

section article {
	margin-left: 2%;
	width: 96%;
}

section article .body {
	padding: 15px;
}

.table {
	table-layout: fixed;
	overflow: auto;
	width:97%;
}

h1.small {
	font-size: 23px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 19px;
}

.student.jumbotron {
	width: 250px;
}

#resume_profil {
	margin-top: 7px;
}

.liste_profil {
	text-align: center;
	max-width: 250px;
	list-style-type: none;
	margin-left: -40px;
}

.liste_profil li:first-child {
	text-decoration: underline;
}

table tr td {
	overflow: auto;
}

.nav.navbar-nav.navbar-right li {
	max-height: 55px;
}

canvas {
	width: 100% !important;
	height: 400px !important;
}

#log_min {
	width: 100px;
	display: inline-block;
}

.orange {
	color: #ff5722;
}

.gris {
	color: rgba(220,220,220,1);
}

.panel-info > .panel-heading {
    background-color: grey;
	padding-top: 1px;
}

.panel-info > .panel-heading  h1 {
	font-size: 20px;
}

section article {
	margin-top: 90px;
}

#alert-connexion {
	padding: 10px;
	margin: 10px;
}

div.tooltip {
	white-space: pre-line;
	font-size: 13px;
}

.underlined {
	text-decoration: underline;
}

#alert {
	margin-left: 2%;
	width: 96%;
}

.alert {
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 20%;
	width: 60%;
}

.student_infos img {
	width: 125px;
}

.student .btn-primary {
	max-width: 210px;
    white-space: normal;
}