<div ng-include="'template/header/header.html'" ng-controller="HeaderCtrl"></div>
<article>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="inline">{{storage.school}} promotion {{storage.scolaryear}} à {{storage.location_name}} - {{storage.semester}} : {{storage.group}}</h1>
            <button type="button" class="btn btn-danger refresh" ng-click="refresh()">
				<span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span> Actualiser les données
			</button>
        </div>
        <div class="row">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group col-xs-12 header-home">
                        <div class="col-xs-12">
                            <select id="select111" class="form-control" ng-model="sortValue">
								<option value="login">Trier par login</option>
								<option value="credits">Trier par nombre de crédits</option>
								<option value="logs">Trier par temps de log</option>
								<!-- <option value="average">Moyenne</option> -->
								<option value="pp">Trier par inscription en PP</option>
								<option value="student.gpa[0].gpa">Trier par gpa</option>
							</select>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="panel-body" ng-if="students.length > 0">
            <div class="student jumbotron" ng-repeat="student in students | orderBy:sortValue">
                <a href="#/student/{{student.login}}">
                    <img ng-src="{{ ('https://cdn.local.epitech.eu/userprofil/profilview/' + student.login.replace('@epitech.eu', '') + student.login.replace('@coding-academy.fr', '') + '.jpg') }}" onerror="this.src='public/img/anon.png'" alt="Photo {{student.login}}"><br
                    />
                    <div class="btn btn-primary btn-lg">{{student.title}}</div><br> {{student.login}}
                    <br>
                </a>
                <ul id="resume_profil" class="liste_profil">
                    <li>Cette semaine</li>
                    <li>{{student.logs}}h de présence sur 7j</li>
                    <li>PP: <span ng-if="student.pp">OK</span><span ng-if="!student.pp">KO</span></li>
                </ul>
                <ul class="liste_profil">
                    <li>3 dernières notes</li>
                    <li ng-repeat="note in student.notes.notes | orderBy:'-date' | filter: { title: '!Point Pangolin' } | limitTo:3">
                        <a href="javascript:void(0)" uib-tooltip="{{note.comment}}" tooltip-placement="right">{{note.title}}: {{note.final_note}}/20</a>
                    </li>
                    <li class="underlined">PP</li>
                    <li ng-repeat="note in student.notes.notes | orderBy:'-date' | filter: { title: 'Point Pangolin' } | limitTo:1">
                        <a href="javascript:void(0)" uib-tooltip="{{note.comment}}" tooltip-placement="right">
							{{note.title}}: {{note.final_note}}/20<br>
							{{note.date.substr(0, 10)}}
						</a>
                    </li>
                </ul>
                <ul class="liste_profil">
                    <li>Résumé</li>
                    <!-- <li>Moyenne: {{student.average}}/20</li> -->
                    <li>{{student.credits}} crédits</li>
                    <li>GPA {{student.student.gpa[0].gpa}}</li>
                </ul>
            </div>
        </div>
    </div>
</article>
<div class="row" id="alert">
    <uib-alert ng-repeat="alert in alerts" ng-model="alert" type="{{alert.type}}" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert. msg}}
    </uib-alert>
</div>