<div class="alert alert-dismissable alert-{{type}} col-xs-offset-4 col-xs-4" role="alert">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <div ng-transclude></div>
</div>