<div class="navbar navbar-warning navbar-fixed-top" id="header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/home">Home</a>
    </div>
    <div class="navbar-collapse collapse navbar-warning-collapse">
        <ul class="nav navbar-nav">
            <li title="Suivi étudiant par étudiant de ma promotion" ng-class="{'active': url == '/home'}"><a href="#/home">Promotion</a></li>
            <li title="Vue d'ensemble des modules de ma promotion" ng-class="{'active': url == '/modules'}"><a href="#/modules">Modules</a></li>
            <li ng-class="{'active': url == '/yammer'}"><a href="#/yammer">Yammer</a></li>
        </ul>
        <form class="navbar-form navbar-left" ng-submit="search(search_student)">
            <input type="text" class="form-control col-lg-8" placeholder="Chercher un login" ng-model="search_student">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li title="Paramétrer hellowac pour ma promotion"><a href="javascript:void(0)" ng-click="openModalParam()"><span class="mdi-action-settings"></span><span style="position: relative; top: -5px; left: 5px;">Paramètres</span></a></li>
            <li title="Période d'affichage des informations"><a href="javascript:void(0)" ng-click="openModalAgenda()"><span class="mdi-action-today"></span></a></li>
            <li title="Se déconnecter"><a href="javascript:void(0)" ng-click="logout()" style="margin-right: 20px;"><span class="mdi-action-account-circle"></span></a></li>
        </ul>
    </div>
</div>
<div ng-include="'template/param/param.html'" ng-controller="ParamCtrl"></div>
<div ng-include="'template/agenda/agenda.html'" ng-controller="AgendaCtrl"></div>