<div ng-include="'template/header/header.html'" ng-controller="HeaderCtrl"></div>
<article>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="small">Résumé</h1>
        </div>
        <div class="panel-body">
            <table id="resume" class="table modules tablesorter">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Login</th>
                        <th>Crédits</th>
                        <th>Moyenne</th>
                        <th ng-repeat="(code, module) in modules">{{module.title}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(login,student) in modules.all">
                        <td><img class="profil-small" ng-src="{{ ('https://cdn.local.epitech.eu/userprofil/profilview/' + student.login.replace('@epitech.eu', '') + '.jpg') }}" onerror="this.src='public/img/anon.png'" alt="Photo {{student.login}}"></td>
                        <td>{{student.login.replace('@epitech.eu', '').replace('.', ' ')}}</td>
                        <td>{{student.credits}}</td>
                        <td class="{{student.moyenne.color}}">{{student.moyenne.note}}</td>
                        <td ng-repeat="(code, module) in modules" class="{{modules.all[login][code].moyenne.color}}">{{modules.all[login][code].moyenne.note}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-info" ng-repeat="(code, module) in modules" ng-if="code !== 'all'">
        <div class="panel-heading">
            <h1 class="small">{{module.title}}</h1>
            <div><i class="tags download mdi-content-archive" title="Télécharger CSV" ng-click="exportToCSV(code)">&nbsp;Télécharger</i></div>
        </div>
        <div class="panel-body">
            <table class="table modules tablesorter">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Login</th>
                        <th>Grade</th>
                        <th>Crédits</th>
                        <th>Tags</th>
                        <th>Moyenne</th>
                        <th ng-repeat="(name, project) in module.projects">{{project}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(login,student) in module.students">
                        <td><img class="profil-small" ng-src="{{ ('https://cdn.local.epitech.eu/userprofil/profilview/' + student.login.replace('@epitech.eu', '') + '.jpg') }}" onerror="this.src='public/img/anon.png'" alt="Photo {{student.login}}"></td>
                        <td>{{student.login.replace('@epitech.eu', '').replace('.', ' ')}}</td>
                        <td>{{student.grade}}</td>
                        <td>{{student.credits}}</td>
                        <td>
                            <i ng-if="student.ghost == true" class="tags mdi-av-snooze" title="Fantôme"></i>
                            <i ng-if="student.difficulty == true" class="tags mdi-alert-error" title="En difficulté"></i>
                            <i ng-if="student.remarkable == true" class="tags mdi-action-thumb-up" title="Remarquable!"></i>
                            <i ng-if="student.medal == true" class="tags mdi-action-stars" title="Médaille"></i>
                        </td>
                        <td class="{{student.moyenne.color}}">{{student.moyenne.note}}</td>
                        <td ng-repeat="(key, project) in module.projects" class="{{module.students[login][key].color}}">
                            {{module.students[login][key].note}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>
<div class="row" id="alert">
    <uib-alert ng-repeat="alert in alerts" ng-model="alert" type="{{alert.type}}" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.
msg}}</uib-alert>
</div>