<div class="modal" id="paramModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Paramètres</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="school" class="col-lg-2 control-label" name="school">Ecole</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="school" ng-model="schoolSelected" ng-change="addSchool(schoolSelected)" data-ng-options="school as school.name for school in schools">
                                    <option selected="selected" value="">Choisissez une école</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="location" class="col-lg-2 control-label" name="location">Ville</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="location" ng-model="citySelected" ng-change="addCity(citySelected)" data-ng-options="city as city.name for city in cities[data.id_school]">
                                        <option selected="selected" value="">Choisissez une ville</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="scolaryear" class="col-lg-2 control-label" name="scolaryear">Année</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="scolaryear" ng-model="scolaryearSelected" ng-change="addYear(scolaryearSelected)" data-ng-options="year as year.year for year in years">
                                        <option selected="selected" value="">Choisissez une année</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="school" class="col-lg-2 control-label" name="school">Ecole</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="school" ng-model="data.school">
                                    <option value="webacademie" selected>Web@cadémie</option>
                                    <option value="Samsung-WAC">Samsung Campus</option>
                                    <option value="wac-ambition-feminine">Ambition féminine</option>
                                </select>
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label for="location" class="col-lg-2 control-label" name="location">Ville</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="location" ng-model="data.location">
                                    <option value="FR/PAR">Paris</option>
                                    <option value="FR/LYN" selected>Lyon</option>
                                </select>
                            </div>
                        </div> -->
                        <!-- <div class="form-group">
                            <label for="scolaryear" class="col-lg-2 control-label" name="scolaryear">Année</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="scolaryear" ng-model="data.scolaryear">
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017" selected>2017</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label for="semester" class="col-lg-2 control-label" name="semester">Semestre</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="semester" ng-model="data.semester">
                                    <option ng-repeat="semester in semesters" value="{{semester}}">{{semester}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group" class="col-lg-2 control-label" name="group">Groupes</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="group" ng-model="groupSelected" ng-change="addGroup(groupSelected)" data-ng-options="group as group.name for group in groups[data.id_year]">
                                        <option selected="selected" value="">Pas de groupe</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="flushData()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save()">OK</button>
            </div>
        </div>
    </div>
</div>