<div class="modal" id="agendaModal" ng-init="initRadio">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Paramètres</h4>
                <blockquote>Ne fonctionne pas pour le moment.</blockquote>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Ajuster ma sélection</label>
                            <div class="col-md-10">
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="AgendaRadioAll" value="all" checked="" ng-model="$storage.agenda">
                                        Tout le semestre
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="AgendaRadioMonth" value="month" ng-model="$storage.agenda">
                                        Seulement le mois courant
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="AgendaRadioLastMonth" value="last-month" ng-model="$storage.agenda">
                                        Le mois dernier
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save(options)">Reload</button>
            </div>
        </div>
    </div>
</div>