<div class="row">
    <div class="md-col-12">
        <form class="form-horizontal white col-xs-offset-4 col-xs-4 jumbotron">
            <fieldset>
                <div class="form-group">
                    <select id="select" class="form-control col-xs-9 control-label" ng-model="$storage.auth">
                        <option class="col-xs-10 col-offset-xs-2" value="classic">Classic connect</option>
                        <option class="col-xs-10 col-offset-xs-2" value="365" selected>Office 365</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" for="login">login</label>
                    <div class="col-xs-10">
                        <input class="form-control" placeholder="login" id="login" type="text" ng-model="user.login">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label" for="password">password</label>
                    <div class="col-xs-10">
                        <input class="form-control" placeholder="password" id="password" type="password" ng-model="user.password">
                    </div>
                </div>
                <input type="submit" class="btn btn-info" ng-click="submitLogin(user)" value="Login">
            </fieldset>
        </form>
    </div>
</div>
<div class="row" id="alert">
    <uib-alert ng-repeat="alert in alerts" ng-model="alert" type="{{alert.type}}" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.
msg}}</uib-alert>
</div>