<div ng-include="'template/header/header.html'" ng-controller="HeaderCtrl"></div>
<div id="embedded-feed" style="min-height: 600px;"></div>
<script type="text/javascript" src="https://s0.assets-yammer.com/assets/platform_embed.js"></script>